{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<meta name="keywords" content="{$keywords|default='关键字'}">
<meta name="description" content="{$desc|default='描述'}">
{/block}

{block name='content'}
<article class="cl pd-20">


    <form action="" method="post" class="form form-horizontal" id="form-admin-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" value="{$clients.name}" placeholder="" id="name" name="name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户联系方式1：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" value="{$clients.tel1}" placeholder="" id="tel1" name="tel1">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户联系方式2：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" value="{$clients.tel2}" placeholder="" id="tel2" name="tel2">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户联系方式3：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" value="{$clients.tel3}" placeholder="" id="tel3" name="tel3">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>客户联系地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input  type="text" class="input-text" value="{$clients.address}" placeholder="" id="address" name="address">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">客户级别：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
				<select class="select" name="level" size="1">
                         <option value="1">VIP客户</option>
                         <option value="2">普通客户</option>
				</select>
				</span>
            </div>
        </div>


        <!--将当前记录的id做为隐藏域发送到服务器-->
        <input type="hidden" value="{$clients.id}" name="id">

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius " type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit" >
            </div>
        </div>
    </form>


</article>
{/block}

{block name='js'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>




<script>

    $(function(){




        $("#submit").on("click", function(event){
            $.ajax({
                type: "POST",
                url: "{:url('client/editClient')}",
                data: $("#form-admin-add").serialize(),
                dataType: "json",
                success: function(data){
                    if (data.status == 1) {
                        alert(data.message);
                        //	location.href="{:url('user/adminList')}";

                    } else {
                        alert(data.message);

                    }
                }
            });

        })



    })
</script>
{/block}

</body>
</html>